body {
	overflow-x: hidden;
	font-family: 'Arial, Helvetica, sans-serif';
	background: url('images/background.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

.navbar {
	border-radius:0;
	color:rgb(128,0,0);
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom:0;
}

#topnav {
	background-image: linear-gradient(to right, #fff, transparent);
	margin-top:-1px;
}

#logo {
	height:50px;
	width:50px;
	float:left;
}

#navigation {
	/*background-color: rgb(128,0,0);*/
	background-image: linear-gradient(to right,rgba(255,255,255,.7), rgb(128,0,0));
	min-height:40px;
	padding-top:7px;
	border:2px solid #fff;
	border-style: groove;
}

#navigation a,
footer a {
	color: #fff;
	text-decoration: none;
}

#navigation a:hover,
footer a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.jumbotron {
	margin-top:-1px;
	background-color: transparent;
}

#floatingwelcome,
#floatingabout {
	background-color: rgba(255,255,255,.7);
	border-radius: 10px;
	color: #fff;
	border: 2px solid #fff;
	border-style: groove;
	width: 50vw;
	text-align: center;
	margin: auto;
	padding: 10px;
}

#floatingwelcome h2,
#floatingwelcome h3,
#floatingabout h2,
#floatingabout h3 {
	text-shadow: 1px 1px #000;
}

#innerwelcome,
#innerabout {
	background-color: rgb(128,0,0);
	border-radius: 10px;
	padding:10px;
	border: 1px solid #000;
}

#floatingabout {
	width: 80vw;
	text-align: left;
}

.container {
	background-color: rgba(255,255,255,.7);
	border: 2px solid #fff;
	border-style: groove;
	padding:10px;
	border-radius: 10px;
}

.post {
	background-image: linear-gradient(#fff,rgb(128,0,0)); /*radial-gradient(rgb(128,0,0) 90%, #fff 10%);*/
	padding:10px;
	color: #fff;
	border-radius:10px;
	border: 1px solid #000;
}

.post h2 {
	color: rgb(128,0,0);
}

.vertical {
	height: 100vh;
	width: 30vw;
}

.horizontal {
	height: 60vh;
	width: 60.3vw;
}

.pic {
	display:inline-block;
	padding-bottom:4px;
}

.caption {
	width: 60vw;
	margin:auto;
	text-align:left;
}

footer {
	background-color: rgb(128,0,0);
	color:#fff !important;
}

#social {
	text-shadow: none !important;
}

#social img {
	height: 50px;
	width: 50px;
	padding: 5px;
}